<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--<add key="PortalApi" value="http://apiportal_dev.assistcard.com/Api/" />
  <add key="PortalApiFiles" value="http://apiportal_dev.assistcard.com" />-->

  <add key="PortalApi" value="http://localhost:60546/Api/" />
  <add key="PortalApiFiles" value="http://localhost:60546" />
</appSettings>
