<objects xmlns="http://www.springframework.net">
	<!-- Data Access Object -->
	<object name="DaoTemplateType" type="EMailAdmin.BackEnd.Data.DAOTemplateType" singleton="true"/>
	<object name="DaoTemplate" type="EMailAdmin.BackEnd.Data.DAOTemplate" singleton="true"/>
	<object name="DaoTemplate_R_Attachment" type="EMailAdmin.BackEnd.Data.DAOTemplate_R_Attachment" singleton="true"/>
	<object name="DaoContent" type="EMailAdmin.BackEnd.Data.DAOContent" singleton="true"/>
	<object name="DaoEstrategy" type="EMailAdmin.BackEnd.Data.DAOEstrategy" singleton="true"/>
	<object name="DaoContentImage" type="EMailAdmin.BackEnd.Data.DAOContentImage" singleton="true"/>
	<object name="DaoContent_R_ContentImage" type="EMailAdmin.BackEnd.Data.DAOContent_R_ContentImage" singleton="true"/>
	<object name="DaoContent_R_ContentLink" type="EMailAdmin.BackEnd.Data.DAOContent_R_ContentLink" singleton="true"/>
	<object name="DaoContent_R_ContentVariableText" type="EMailAdmin.BackEnd.Data.DAOContent_R_ContentVariableText" singleton="true"/>
	<object name="DaoContent_R_ContentSignatureType" type="EMailAdmin.BackEnd.Data.DAOContent_R_ContentSignatureType" singleton="true"/>
	<object name="DaoContent_R_ContentEmailContactType" type="EMailAdmin.BackEnd.Data.DAOContent_R_ContentEmailContactType" singleton="true"/>
	<object name="DaoContent_R_ContentCountryVisibleTextType" type="EMailAdmin.BackEnd.Data.DAOContent_R_ContentCountryVisibleTextType" singleton="true"/>
  <object name="DaoContent_R_ContentUpgradeVariableTextType" type="EMailAdmin.BackEnd.Data.DAOContent_R_ContentUpgradeVariableTextType" singleton="true"/>
	<object name="DaoAttachmentType" type="EMailAdmin.BackEnd.Data.DAOAttachmentType" singleton="true"/>
	<object name="DaoAttachment" type="EMailAdmin.BackEnd.Data.DAOAttachment" singleton="true"/>
  <object name="DaoContentAttachment" type="EMailAdmin.BackEnd.Data.DAOContentAttachment" singleton="true"/>
	<object name="DaoAttachmentItem" type="EMailAdmin.BackEnd.Data.DAOAttachmentItem" singleton="true"/>
	<object name="DaoVariableTextType" type="EMailAdmin.BackEnd.Data.DAOVariableTextType" singleton="true"/>
	<object name="DaoVariableText" type="EMailAdmin.BackEnd.Data.DAOVariableText" singleton="true"/>
	<object name="DaoSignature" type="EMailAdmin.BackEnd.Data.DAOSignature" singleton="true"/>
	<object name="DaoLink" type="EMailAdmin.BackEnd.Data.DAOLink" singleton="true"/>
  <object name="DaoLinkSeach" type="EMailAdmin.BackEnd.Data.DAOLink" singleton="true"/>
	<object name="DaoEMailContact" type="EMailAdmin.BackEnd.Data.DAOEMailContact" singleton="true"/>
	<object name="DaoEMailContactContent" type="EMailAdmin.BackEnd.Data.DAOEMailContactContent" singleton="true"/>
	<object name="DaoEMailLocation" type="EMailAdmin.BackEnd.Data.DAOEMailContactLocation" singleton="true"/>
	<object name="DaoEMailContactType" type="EMailAdmin.BackEnd.Data.DAOEMailContactType" singleton="true"/>
  <object name="DaoEMailListType" type="EMailAdmin.BackEnd.Data.DAOEMailListType" singleton="true"/>
  <object name="DaoEMailList" type="EMailAdmin.BackEnd.Data.DAOEMailList" singleton="true"/>
  <object name="DaoEMailListDTO" type="EMailAdmin.BackEnd.Data.DAOEMailListDTO" singleton="true"/>
  <object name="DaoEMailListUsuarioDTO" type="EMailAdmin.BackEnd.Data.DAOEMailListUsuarioDTO" singleton="true"/>  
  <object name="DaoLinkType" type="EMailAdmin.BackEnd.Data.DAOLinkType" singleton="true"/>
	<object name="DaoSignatureContent" type="EMailAdmin.BackEnd.Data.DAOSignatureContent" singleton="true"/>
	<object name="DaoSignatureType" type="EMailAdmin.BackEnd.Data.DAOSignatureType" singleton="true"/>
	<object name="DaoSignature_R_SignatureType" type="EMailAdmin.BackEnd.Data.DAOSignature_R_SignatureType" singleton="true"/>
	<object name="DaoSignature_R_Country" type="EMailAdmin.BackEnd.Data.DAOSignature_R_Country" singleton="true"/>
	<object name="DaoConditionType" type="EMailAdmin.BackEnd.Data.DAOConditionType" singleton="true"/>
	<object name="DaoProduct" type="EMailAdmin.BackEnd.Data.DAOProduct" singleton="true"/>
	<object name="DaoRate" type="EMailAdmin.BackEnd.Data.DAORate" singleton="true"/>
	<object name="DaoGroup" type="EMailAdmin.BackEnd.Data.DAOGroup" singleton="true"/>
	<object name="DaoGroupCondition" type="EMailAdmin.BackEnd.Data.DAOGroupCondition" singleton="true"/>
	<object name="DaoGroup_R_Template" type="EMailAdmin.BackEnd.Data.DAOGroup_R_Template" singleton="true"/>
  <object name="DAOGroup_R_Template_Association" type="EMailAdmin.BackEnd.Data.DAOGroup_R_Template_Association" singleton="true"/>  
  <object name="DaoGroupType" type="EMailAdmin.BackEnd.Data.DAOGroupType" singleton="true"/>
	<object name="DaoAttachment_R_Group" type="EMailAdmin.BackEnd.Data.DAOAttachment_R_Group" singleton="true"/>
	<object name="DaoReportLanguage" type="EMailAdmin.BackEnd.Data.DAOReportLanguage" singleton="true"/>
	<object name="DaoTemplateDto" type="EMailAdmin.BackEnd.Data.Join.DAOTemplateDTO" singleton="true"/>
	<object name="DaoEMailLog" type="EMailAdmin.BackEnd.Data.DAOEmailLog" singleton="true"/>
	<object name="DaoEMailProcessType" type="EMailAdmin.BackEnd.Data.DAOEMailProcessType" singleton="true"/>
	<object name="DaoEMailProcessLog" type="EMailAdmin.BackEnd.Data.DAOEMailProcessLog" singleton="true"/>
	<object name="DaoEMailAddress" type="EMailAdmin.BackEnd.Data.DAOEMailAddress" singleton="true"/>
	<object name="DaoDistributionType" type="EMailAdmin.BackEnd.Data.DAODistributionType" singleton="true"/>
	<object name="DaoInsuranceCompany" type="EMailAdmin.BackEnd.Data.DAOInsuranceCompany" singleton="true"/>
	<object name="DaoCountryVisibleText" type="EMailAdmin.BackEnd.Data.DAOCountryVisibleText" singleton="true"/>
	<object name="DaoCountryVisibleTextContent" type="EMailAdmin.BackEnd.Data.DAOCountryVisibleTextContent" singleton="true"/>
	<object name="DaoCountryVisibleTextType" type="EMailAdmin.BackEnd.Data.DAOCountryVisibleTextType" singleton="true"/>
	<object name="DaoCountryVisibleText_R_CountryVisibleTextType" type="EMailAdmin.BackEnd.Data.DAOCountryVisibleText_R_CountryVisibleTextType" singleton="true"/>
	<object name="DaoCountryVisibleText_R_Country" type="EMailAdmin.BackEnd.Data.DAOCountryVisibleText_R_Country" singleton="true"/>
  <object name="DaoLegal" type="EMailAdmin.BackEnd.Data.DAOLegal" singleton="true"/>
  <object name="DaoUpgradeVariableText" type="EMailAdmin.BackEnd.Data.DAOUpgradeVariableText" singleton="true"/>
  <object name="DaoUpgradeVariableTextContent" type="EMailAdmin.BackEnd.Data.DAOUpgradeVariableTextContent" singleton="true"/>
  <object name="DaoUpgradeVariableTextType" type="EMailAdmin.BackEnd.Data.DAOUpgradeVariableTextType" singleton="true"/>
  <object name="DaoUpgradeVariableText_R_UpgradeVariableTextType" type="EMailAdmin.BackEnd.Data.DAOUpgradeVariableText_R_UpgradeVariableTextType" singleton="true"/>
  <object name="DaoUpgradeVariableText_R_Upgrade" type="EMailAdmin.BackEnd.Data.DAOUpgradeVariableText_R_Upgrade" singleton="true"/>
  <object name="DaoHappyBirthBody" type="EMailAdmin.BackEnd.Data.DAOHappyBirthBody" singleton="true"/>
  <object name="DaoQuoteMailACCOM" type="EMailAdmin.BackEnd.Data.DAOQuoteMailACCOM" singleton="true"/>
  <object name="DaoTableVariableText" type="EMailAdmin.BackEnd.Data.DAOTableVariableText" singleton="true"/>
  <object name="DaoTableVariableTextContent" type="EMailAdmin.BackEnd.Data.DAOTableVariableTextContent" singleton="true"/>
  <object name="DaoConditionVariableText" type="EMailAdmin.BackEnd.Data.DAOConditionVariableText" singleton="true"/>
  <object name="DaoConditionVariableTextContent" type="EMailAdmin.BackEnd.Data.DAOConditionVariableTextContent" singleton="true"/>
  <object name="DaoConditionVariableText_R_VariableText" type="EMailAdmin.BackEnd.Data.DAOConditionVariableText_R_VariableText" singleton="true"/>
  <object name="DaoGetReceivedConditions" type="EMailAdmin.BackEnd.Data.DAOGetReceivedConditions" singleton="true"/>
  <object name="DaoEmailLog_R_PrepurchasePax" type="EMailAdmin.BackEnd.Data.DAOEmailLog_R_PrepurchasePax" singleton="true"/>
  <object name="DAOVoucherACNETDTO" type="EMailAdmin.BackEnd.Data.DAOVoucherACNETDTO" singleton="true"/>
  <object name="DAOPointsReportHistory" type="EMailAdmin.BackEnd.Data.DAOPointsReportHistory" singleton="true"/>
  <object name="DAOCapita" type="EMailAdmin.BackEnd.Data.DAOCapita" singleton="true"/>  
  <object name="DAOEmailLog_R_Capita" type="EMailAdmin.BackEnd.Data.DAOEmailLog_R_Capita" singleton="true"/>
  <object name="DAOIMessengerAlerts" type="EMailAdmin.BackEnd.Data.DAOIMessengerAlerts" singleton="true"/>
  <object name="DAOClausula_R_Estrategy" type="EMailAdmin.BackEnd.Data.DAOClausula_R_Estrategy" singleton="true"/>
  <object name="DaoEMailListExclude" type="EMailAdmin.BackEnd.Data.DAOEMailListExclude" singleton="true"/>
  <object name="DaoPixel" type="EMailAdmin.BackEnd.Data.DAOPixel" singleton="true"/>
  <object name="DaoTrackEmail" type="EMailAdmin.BackEnd.Data.DAOTrackEmail" singleton="true"/>
  <object name="DaoTrackEmailEvent" type="EMailAdmin.BackEnd.Data.DAOTrackEmailEvent" singleton="true"/>
  <object name="DaoTrackLink" type="EMailAdmin.BackEnd.Data.DAOTrackLink" singleton="true"/>
  <object name="DaoTrackLinkEvent" type="EMailAdmin.BackEnd.Data.DAOTrackLinkEvent" singleton="true"/>
  <!-- Information DAOs -->
	<object name="DaoPaxPassedAway" type="EMailAdmin.BackEnd.Data.Information.DAOPaxPassedAway" singleton="true"/>
	<object name="DaoWelcomeBackInformation" type="EMailAdmin.BackEnd.Data.Information.DAOWelcomeBackInformation"/>
	
	<!-- External DAOs -->
	<object name="DaoIssuanceInformation" type="EMailAdmin.ExternalServices.Data.DAOIssuanceInformation" singleton="true"/>
	<object name="DaoRateInformation" type="EMailAdmin.ExternalServices.Data.DAORateInformation" singleton="true"/>
	<object name="DaoExternalVoucher" type="EMailAdmin.BackEnd.Data.External.DAOExternalVoucher" singleton="true"/>
  <object name="DaoPrepurchase" type="EMailAdmin.ExternalServices.Data.DAOPrepurchase" singleton="true"/>  

  <!-- Services -->
	<object name="TemplateService" type="EMailAdmin.BackEnd.Service.TemplateService" singleton="true">
		<property name="DaoTemplate" ref="DaoTemplate"/>
	</object>
	<object name="SignatureService" type="EMailAdmin.BackEnd.Service.SignatureService" singleton="true">
		<property name="DaoSignature" ref="DaoSignature"/>
	</object>
	<object name="EMailContactService" type="EMailAdmin.BackEnd.Service.EMailContactService" singleton="true">
		<property name="DaoEMailContact" ref="DaoEMailContact"/>
	</object>
	<object name="AttachmentService" type="EMailAdmin.BackEnd.Service.AttachmentService" singleton="true">
		<property name="DaoAttachment" ref="DaoAttachment"/>
	</object>
  <object name="ContentAttachmentService" type="EMailAdmin.BackEnd.Service.ContentAttachmentService" singleton="true">
    <property name="DaoContentAttachment" ref="DaoContentAttachment"/>
  </object>
	<object name="GroupService" type="EMailAdmin.BackEnd.Service.GroupService" singleton="true">
		<property name="DaoGroup" ref="DaoGroup"/>
	</object>
	<object name="EMailLogService" type="EMailAdmin.BackEnd.Service.EMailLogService" singleton="true">
		<property name="DaoEMailLog" ref="DaoEMailLog"/>
	</object>
	<object name="Group_R_TemplateService" type="EMailAdmin.BackEnd.Service.Group_R_TemplateService" singleton="true">
		<property name="DaoGroup_R_Template" ref="DaoGroup_R_Template"/>
	</object>
	<object name="Attachment_R_GroupService" type="EMailAdmin.BackEnd.Service.Attachment_R_GroupService" singleton="true">
		<property name="DaoAttachment_R_Group" ref="DaoAttachment_R_Group"/>
	</object>
	<object name="SendMailService" type="EMailAdmin.BackEnd.Service.SendMailService" singleton="true">
	</object>
	<object name="InformationService" type="EMailAdmin.BackEnd.Service.InformationService" singleton="true">
	</object>
	<object name="PaxPassedAwayService" type="EMailAdmin.BackEnd.Service.Information.PaxPassedAwayService" singleton="true">
		<property name="DaoPaxPassedAway" ref="DaoPaxPassedAway"/>
	</object>
	<object name="EMailProcessLogService" type="EMailAdmin.BackEnd.Service.EMailProcessLogService" singleton="true">
		<property name="DaoEMailProcessLog" ref="DaoEMailProcessLog"/>
	</object>
  <object name="CountryVisibleTextService" type="EMailAdmin.BackEnd.Service.CountryVisibleTextService" singleton="true">
    <property name="DaoCountryVisibleText" ref="DaoCountryVisibleText"/>
  </object>
  <object name="UpgradeVariableTextService" type="EMailAdmin.BackEnd.Service.UpgradeVariableTextService" singleton="true">
    <property name="DaoUpgradeVariableText" ref="DaoUpgradeVariableText"/>
  </object>
  <object name="ConditionVariableTextService" type="EMailAdmin.BackEnd.Service.ConditionVariableTextService" singleton="true">
    <property name="DaoConditionVariableText" ref="DaoConditionVariableText"/>
  </object>
  <object name="PrepurchasePaxService" type="EMailAdmin.BackEnd.Service.PrepurchasePaxService" singleton="true"></object>
  <object name="CapitaService" type="EMailAdmin.BackEnd.Service.CapitaService" singleton="true"></object>
  <object name="AlertChatService" type="EMailAdmin.BackEnd.Service.AlertChatService" singleton="true"></object>
  <object name="EmailSenderPolizaServices" type="EMailAdmin.BackEnd.Service.PolizaService" singleton="true"></object>
  <object name="EmailSenderEndosoServices" type="EMailAdmin.BackEnd.Service.EndosoService" singleton="true"></object>
  <object name="EmailSenderBotonPagoServices" type="EMailAdmin.BackEnd.Service.BotonPagoService" singleton="true"></object>
  <object name="InformationDynamicServices" type="EMailAdmin.BackEnd.Service.InformationDynamicServices" singleton="true"></object>

  <!-- Email sender strategies-->
	<object name="EMailSenderDummy" type="EMailAdmin.BackEnd.Strategies.EMailSender.EMailSenderDummy" singleton="true">
	</object>
	<object name="EMailSenderEkit" type="EMailAdmin.BackEnd.Strategies.EMailSender.EMailSenderEkit" singleton="true">
		<property name="DaoTemplate" ref="DaoTemplate"/>
	</object>
	<object name="EMailSenderNiceTrip" type="EMailAdmin.BackEnd.Strategies.EMailSender.EMailSenderNiceTrip" singleton="true">
		<property name="DaoTemplate" ref="DaoTemplate"/>
	</object>
	<object name="EMailSenderWelcomeBack" type="EMailAdmin.BackEnd.Strategies.EMailSender.EMailSenderWelcomeBack" singleton="true">
		<property name="DaoTemplate" ref="DaoTemplate"/>
	</object>
  <object name="EMailSenderPrepurchase" type="EMailAdmin.BackEnd.Strategies.EMailSender.EMailSenderPrepurchase" singleton="true">
    <property name="DaoTemplate" ref="DaoTemplate"/>
  </object>
  <object name="EMailSenderHappyBirthday" type="EMailAdmin.BackEnd.Strategies.EMailSender.EMailSenderHappyBirth" singleton="true">
    <property name="DaoTemplate" ref="DaoTemplate"/>
  </object>
  <object name="EMailSenderPrepurchasePax" type="EMailAdmin.BackEnd.Strategies.EMailSender.EMailSenderPrepurchasePax" singleton="true">
    <property name="DaoTemplate" ref="DaoTemplate"/>
  </object>
  <object name="EMailSenderPoints" type="EMailAdmin.BackEnd.Strategies.EMailSender.EMailSenderPoints" singleton="true">
    <property name="DaoTemplate" ref="DaoTemplate"/>
  </object>
  <object name="EMailSenderConditionAlert" type="EMailAdmin.BackEnd.Strategies.EMailSender.EMailSenderConditionAlert" singleton="true">
    <property name="DaoTemplate" ref="DaoTemplate"/>
  </object>
  <object name="EMailSenderCapita" type="EMailAdmin.BackEnd.Strategies.EMailSender.EMailSenderCapita" singleton="true">
    <property name="DaoTemplate" ref="DaoTemplate"/>
  </object>
  <object name="EMailSenderPoliza" type="EMailAdmin.BackEnd.Strategies.EMailSender.EMailSenderPoliza" singleton="true">
    <property name="DaoTemplate" ref="DaoTemplate"/>
  </object>
  <object name="EMailQuote" type="EMailAdmin.BackEnd.Strategies.EMailSender.EMailQuote" singleton="true">
    <property name="DaoTemplate" ref="DaoTemplate"/>
  </object>
  <object name="EMailSenderBotonPago" type="EMailAdmin.BackEnd.Strategies.EMailSender.EMailSenderBotonPago" singleton="true">
    <property name="DaoTemplate" ref="DaoTemplate"/>
  </object>
  <object name="EMailSenderContinuaCompra" type="EMailAdmin.BackEnd.Strategies.EMailSender.EMailSenderContinuaCompra" singleton="true">
    <property name="DaoTemplate" ref="DaoTemplate"/>
  </object>
  
  <!-- External Services -->
	<object name="ExternalInformationService" type="EMailAdmin.ExternalServices.Service.ExternalInformationService" singleton="true">
		<property name="DaoIssuanceInformation" ref="DaoIssuanceInformation"/>
	</object>
  <object name="ExternalPrepurchasePaxService" type="EMailAdmin.BackEnd.Service.External.ExternalPrepurchasePaxInfoService" singleton="true"></object>
  <object name="ExternalCondicionesService" type="EMailAdmin.ExternalServices.Service.ExternalCondicionesService" singleton="true"></object>
  <object name="ExternalDynamicInformationService" type="EMailAdmin.BackEnd.Service.External.ExternalDynamicInformationService" singleton="true"></object>

</objects>
