<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EMailAdmin.Assembly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EMailAdmin.Assembly.Properties.Settings>
            <setting name="EMailAdmin_Assembly_EMailSenderService_EMailSenderService"
                serializeAs="String">
                <value>https://mailservice.assistcard.com/EMailSenderService.asmx</value>
            </setting>
        </EMailAdmin.Assembly.Properties.Settings>
    </applicationSettings>
</configuration>