<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EMailAdmin.BackEnd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <EMailAdmin.BackEnd.Properties.Settings>
            <setting name="VariableInitTag" serializeAs="String">
                <value>${</value>
            </setting>
            <setting name="VariableEndTag" serializeAs="String">
                <value>}$</value>
            </setting>
            <setting name="VariableSeparator" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="ACNetUser" serializeAs="String">
                <value>ACNET</value>
            </setting>
            <setting name="MainBenefitsDocumentLinks" serializeAs="String">
                <value>http://condiciones.assist-card.com/Documento/DescargaDeDocumento.aspx?IdDocumento=</value>
            </setting>
            <setting name="ApplicationUrl" serializeAs="String">
                <value>http://mailadmin.assist-card.com/</value>
            </setting>
            <setting name="ReportPath" serializeAs="String">
                <value>C:\Websites\EmailAdmin\Reports\</value>
            </setting>
            <setting name="ClauseSeparator" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="OrClause" serializeAs="String">
                <value>||</value>
            </setting>
            <setting name="AndClause" serializeAs="String">
                <value>&amp;&amp;</value>
            </setting>
            <setting name="MaxTimeAlert" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AttachHeaderPath" serializeAs="String">
                <value>C:\Websites\EMailAdmin\IMG\HappyBirth\happybanner_up.png</value>
            </setting>
            <setting name="AttachFooterPath" serializeAs="String">
                <value>C:\Websites\EMailAdmin\IMG\HappyBirth\happybanner_down.jpg</value>
            </setting>
            <setting name="AttachImagePath" serializeAs="String">
                <value>C:\Websites\EMailAdmin\IMG\HappyBirth\Locations\</value>
            </setting>
            <setting name="EMailAdmin_BackEnd_ServiceBoxPax_AssistCardDaysAcquisitionServiceService" serializeAs="String">
                <value>https://www.assist-card.net/ws/services/AssistCardDaysAcquisitionService</value>
            </setting>
            <setting name="EMailAdmin_BackEnd_AssistCardService_AssistCardServiceService" serializeAs="String">
                <value>https://www.assist-card.net/ws/services/AssistCardService</value>
            </setting>
            <setting name="ContentImageUrl" serializeAs="String">
                <value>http://mailservice.assist-card.com/Image/ContentImageHandler.ashx</value>
            </setting>
            <setting name="ACNetPassword" serializeAs="String">
                <value>ACNET</value>
            </setting>
        </EMailAdmin.BackEnd.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MembershipInformationSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.assist-card.net/ws/services/MembershipInformation" binding="basicHttpBinding" bindingConfiguration="MembershipInformationSoapBinding" contract="ACNetService.MembershipInformation" name="MembershipInformation" />
        </client>
    </system.serviceModel>
    <userSettings>
        <EMailAdmin.BackEnd.Properties.Settings>
            <setting name="VarDicInitTag" serializeAs="String">
                <value>$[</value>
            </setting>
            <setting name="VarDicEndTag" serializeAs="String">
                <value>]$</value>
            </setting>
        </EMailAdmin.BackEnd.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.10.0" newVersion="5.5.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
