<appSettings>
<add key="ExpireSessionRedirect" value="~/SessionExpired.aspx?SessionExpired=true"/>
<add key="MessagingConfigurationPath" value="C:\Proyectos VS\Emisiones\EMailAdmin\EMailAdmin.Services\"/>
<!--Testing-->
  <!--<add key="MessagingConfigurationPath" value="C:\Websites\EMailAdmin\"/>-->	
<add key="MessagingConfigurationFile" value="SiteSettings\MailSettings.xml"/>
<add key="PaginaLogin" value="http://172.17.1.81:8083"/>
<add key="LoginURL" value="http://172.17.1.81:8083"/>
<add key="BoxPaxEmailToTest" value=""/>
<add key="EkitMailFromAppearance" value="[FROMADDRESSNAME]"/>

<add key="VoucherPointsEmailTo" value="gustavo.suarez@assist-card.com"/>
<add key="VoucherPointsEmailBcc" value="gustavo.suarez@assist-card.com"/>
<add key="VoucherPointsMailFromAppearance" value="Vouchers Points Report - Period {0:d}-{1:d}"/>

<add key="ConditionAlertEmailTo" value="gustavo.suarez@assist-card.com"/>
<add key="ConditionAlertEmailBcc" value="gustavo.suarez@assist-card.com"/>
<add key="ConditionAlertMailFromAppearance" value="Rule expiration alert"/>

<add key="CapitaMailFromAppearance" value="ASSISTCARD Capita"/>

<add key="ClientCodeKey" value="true"/>
</appSettings>

<!--<appSettings>
	<add key="ExpireSessionRedirect" value="~/SessionExpired.aspx?SessionExpired=true"/>
	<add key="MessagingConfigurationPath" value="C:\Websites\EMailAdminServices\"/>
	--><!--Testing--><!--
	--><!--<add key="MessagingConfigurationPath" value="C:\Websites\EMailAdmin\"/>--><!--
	<add key="MessagingConfigurationFile" value="SiteSettings\MailSettings.xml"/>
	<add key="PaginaLogin" value="https://portal_qa.assistcard.com"/>
	<add key="LoginURL" value="https://portal_qa.assistcard.com"/>
	<add key="BoxPaxEmailToTest" value=""/>
	<add key="EkitMailFromAppearance" value="[FROMADDRESSNAME]"/>
	<add key="CapitaMailFromAppearance" value="ASSISTCARD Capita"/>
	<add key="MailIMessengerFromAppearance" value="ASSIST CARD Chat"/>

</appSettings>-->
