<!--<connectionStrings>
  <add name="Portal" connectionString="Data Source=sql211_p.assist-card.com.ar;Initial Catalog=Portal;User ID=user_readonly;Password=Leotodo_a!!;" providerName="System.Data.SqlClient" />
  <add name="Workflow" connectionString="Data Source=sql211_p.assist-card.com.ar;Initial Catalog=Workflow;User ID=user_readonly;Password=Leotodo_a!!;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
  <add name="EMailAdmin" connectionString="Data Source=sql211_p.assist-card.com.ar;Initial Catalog=EMailAdmin;User ID=user_readonly;Password=Leotodo_a!!;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
  <add name="Condiciones" connectionString="Data Source=sql211_p.assist-card.com.ar;Initial Catalog=Condiciones;User ID=user_readonly;Password=Leotodo_a!!;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
  <add name="ACNet" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.18.1.100)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=o9aciP)));uid=icard;pwd=iprecard_2019;"/>
</connectionStrings>-->

<!--<connectionStrings>
  <add name="Portal" connectionString="Data Source=sql211_d.assist-card.com.ar;Initial Catalog=Portal;User ID=PortalAdm_APP;Password=AqSFBz7uxP;" providerName="System.Data.SqlClient" />
  <add name="WorkFlow" connectionString="Data Source=sql211_d.assist-card.com.ar;Initial Catalog=Workflow;User ID=PortalAdm_APP;Password=AqSFBz7uxP;" providerName="System.Data.SqlClient"/>
  <add name="EMailAdmin" connectionString="Data Source=sql211_d.assist-card.com.ar;Initial Catalog=EMailAdmin;User ID=PortalAdm_APP;Password=AqSFBz7uxP;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
  <add name="Condiciones" connectionString="Data Source=sql211_d.assist-card.com.ar;Initial Catalog=Condiciones;User ID=PortalAdm_APP;Password=AqSFBz7uxP;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
  <add name="ACNet" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.18.1.100)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=o9aciP)));uid=icard;pwd=iprecard_2019;"/>
</connectionStrings>-->

<connectionStrings>
  <add name="Portal" connectionString="Data Source=sql211_qa.assist-card.com.ar;Initial Catalog=Portal;User ID=PortalAdm_APP;Password=QmWsYqr4k3dgEtqj;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
  <add name="Workflow" connectionString="Data Source=sql211_qa.assist-card.com.ar;Initial Catalog=Workflow;User ID=PortalAdm_APP;Password=QmWsYqr4k3dgEtqj;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
  <add name="EMailAdmin" connectionString="Data Source=sql211_qa.assist-card.com.ar;Initial Catalog=EMailAdmin;User ID=PortalAdm_APP;Password=QmWsYqr4k3dgEtqj;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
  <add name="Condiciones" connectionString="Data Source=sql211_qa.assist-card.com.ar;Initial Catalog=Condiciones;User ID=PortalAdm_APP;Password=QmWsYqr4k3dgEtqj;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
  <add name="ACNetOLD" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.18.1.98)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=o9aciP)));uid=icard;pwd=icarddaci;"/>
  <add name="ACNet" connectionString="SERVER=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = aciodarac-scan)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = o9aciP)));uid=icard;pwd=icardoda;"/>
</connectionStrings>
