<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EMailAdmin.ExternalServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EMailAdmin.ExternalServices.Properties.Settings>
            <setting name="EMailAdmin_ExternalServices_ACNetService_MembershipInformationService"
                serializeAs="String">
                <value>http://172.17.1.40:8080/ws/services/MembershipInformation</value>
            </setting>
            <setting name="MembershipUser" serializeAs="String">
                <value>XamQueryACNet</value>
            </setting>
            <setting name="MembershipPassword" serializeAs="String">
                <value>juekdo!74852.11</value>
            </setting>
        </EMailAdmin.ExternalServices.Properties.Settings>
    </applicationSettings>
</configuration>