<appSettings>

  <!--<add key="MessagingConfigurationPath" value="D:\Aplicaciones Net\Emisiones\EMailAdmin\EMailAdmin.Services\"/>-->
  <add key="MessagingConfigurationPath" value="C:\Websites\EMailAdminServices\"/>
	<add key="MessagingConfigurationFile" value="SiteSettings\MailSettings.xml"/>
  <add key="HappyBirthEmailTo" value="matias.badin@assist-card.com"/>

  <add key="VoucherPointsEmailTo" value="gustavo.suarez@assist-card.com"/>
  <add key="VoucherPointsEmailBcc" value="gustavo.suarez@assist-card.com"/>
  <add key="VoucherPointsMailFromAppearance" value="Vouchers Points Report - Period {0:d}-{1:d}"/>
    
  <add key="ConditionAlertEmailTo" value="gustavo.suarez@assist-card.com"/>
  <add key="ConditionAlertEmailBcc" value="gustavo.suarez@assist-card.com"/>
  <add key="ConditionAlertMailFromAppearance" value="Rule expiration alert"/>

  <add key="ACCOMQuoteMailFromAppearance" value="ASSIST CARD On Line"/>
  <add key="HappyBirthMailFromAppearance" value="pruebadecumples@assist-card.com"/>  
  <add key="PrepurchaseEmailToDefault" value=""/>
  <add key="BoxPaxEmailToTest" value=""/>
  <add key="CapitaMailFromAppearance" value="ASSISTCARD Capita"/>
  <!--<add key="HappyBirthEmailTo" value="matias.badin@assist-card.com,lucas.ovalle@assist-card.com,jimena.andreotti@assist-card.com,gabriela.mourguiart@assist-card.com,lorena.cominotti@assist-card.com"/>-->
	<!-- Testing -->
	<!--<add key="MessagingConfigurationPath" value="C:\Websites\EMailAdminServices\"/>-->  
  
  <!-- Argentina -->
  <add key="TLMKT540" value="matias.badin@assist-card.com"/>
  <!-- Peru -->
  <add key="TLMKT510" value="matias.badin@assist-card.com"/>
  <!-- Brasil -->
  <add key="TLMKT550" value="matias.badin@assist-card.com"/>
  <!-- Chile -->
  <add key="TLMKT560" value="matias.badin@assist-card.com"/>
  <!-- Colombia -->
  <add key="TLMKT570" value="matias.badin@assist-card.com"/>
  <!-- Mexico -->
  <add key="TLMKT520" value="matias.badin@assist-card.com"/>
  <!-- Venezuela -->
  <add key="TLMKT580" value="matias.badin@assist-card.com"/>
  <!-- World -->
  <add key="TLMKTWorld" value="matias.badin@assist-card.com"/>
  <!-- CCO To -->
  <add key="TLMKTBCC" value="lorena.cominotti@assist-card.com,pablo.zizmond"/>

  <add key="QuoteMailCountries" value="540;510;550;560;570;520;580;"/>
  
  <add key="QuoteExchangeTo" value="lorena.cominotti@assist-card.com,matias.badin@assist-card.com"/>
  <add key="QuoteExchangeMailFromAppearance" value="Cotización Dólar - Euro"/>
  <add key="EkitMailFromAppearance" value="[FROMADDRESSNAME]"/>
  <add key="MailIMessengerFromAppearance" value="ASSIST CARD Chat"/>  
</appSettings>
