<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CapaNegocioDatos" version="1.0.1" targetFramework="net40-client" />
  <package id="DTOMapper" version="1.0.0" targetFramework="net40-client" />
  <package id="DynamicWsSetup" version="1.0.0" targetFramework="net40-client" />
  <package id="FrameworkDAC" version="1.0.0" targetFramework="net40-client" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40-client" />
  <package id="Seguridad" version="1.0.0" targetFramework="net40-client" />
  <package id="ServerDAC" version="1.0.0" targetFramework="net40-client" />
  <package id="ServerMSG" version="1.0.0" targetFramework="net40-client" />
  <package id="ServerTMP" version="1.0.0" targetFramework="net40-client" />
  <package id="WorkFlowLibrary" version="1.0.0" targetFramework="net40-client" />
</packages>